<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Krona+One|Oxygen" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Coiny|Krona+One|Oxygen" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Coiny|Krona+One|Oxygen|Source+Sans+Pro" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css">
    <title>Hello, world!</title>
  </head>
  <body>
      
     <div id="load_screen"><img id="loading" src="img/201.gif"></div>
         
       <div class="pointer">
         <a href="index.html"> <img src="img/131.png"></a>
          </div>
          

    <!--start navbar-->
    
      <div class="container conOne">
      
        <nav class="navbar navbar-expand-lg navbar-light ">
          <a class="navbar-brand" href="#">Al <span>Zawra</span> City</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="index.html">Home </a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sections <span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#zoo">Zoo</a>
                  <a class="dropdown-item" href="#games">Games</a>
                  <a class="dropdown-item" href="#Gardens">Gardens</a>
                  <a class="dropdown-item" href="#sinkFish">Sink Fish</a>
                  <a class="dropdown-item" href="#Restaurants">Restaurants</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#flowershow">Flower Show</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#stats">Contact Us</a>
              </li>
             <li class="nav-item">
                <a class="nav-link" href="#footer">About Us</a>
              </li>
            </ul>
          </div>
        </nav>
      
     <!--end navbar-->
            
       <!--start slider-->
          <div class="slider">
          
            <div id="mainslider" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#mainslider" data-slide-to="0" class="active"></li>
                <li data-target="#mainslider" data-slide-to="1"></li>
                <li data-target="#mainslider" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                  <h1>The largest Games city in Iraq is <span>Zawra</span></h1>
                  <div class="overlay"></div>
                <div class="carousel-item active">
                  <img class="d-block w-100" src="img/45.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="img2/86.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="img/28.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="img/48.jpg" alt="Third slide">
                </div>
              </div>
            </div>
          </div>
          
          
          
       <!--end slider-->
         
          
       <!--start features-->  
          
          <div class="features text-center" id="features">
            <div class="container">
              <div class="row">
                  
                <div class="col-sm-6 col-lg-3">
                  <img src="img2/68.jpg">
                    <h3>Carnival of flowers</h3>
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                  
                 <div class="col-sm-6 col-lg-3">
                  <img src="img/34.jpg">
                    <h3>Miscellaneous animals</h3>
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                  
                 <div class="col-sm-6 col-lg-3">
                  <img src="img2/87.jpg">
                    <h3>Various Games</h3>
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                  
                <div class="col-sm-6 col-lg-3">
                  <img src="img2/95.jpg">
                    <h3>Festivals held</h3>
                    <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                  
              </div>
            </div>
          </div>
          
          
          
        <!--end features-->
          
         <!--start zoo-->
        
              <div class="zoo" id="zoo">
            <div class="container">
              <div class="row">
                  <div class="col-lg-6 zootxt">
                  <h1>Zoo Department</h1>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  
                  </p>
                       <button id="modalBtn1" class="button" onclick="openModal1()">Zoo Gallary</button>
                    <div id="simpalmodal1" class="mod">
                    <div id="modcon1" class="gallary">
                        <h1>Hello in Zoo Gallary</h1>
                        <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/33.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/36.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/72.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/73.jpg">
                            </div>
                            
                             <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/75.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/76.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/83.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/78.jpg">
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/77.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/89.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/84.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/31.jpg">
                            </div>
                        </div>
                        
                        </div>
                        
                        
                        <button onclick="closeModal1();" type="button" class="btn btn-default" data-dismiss="modal1"><a>Close</a></button>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    
                    <div class="container zooimg" >
                      <div class="row">
                          <img src="img/35.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/31.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/32.JPG" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/83.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                        </div>
                      </div>
                  </div>
             
              </div>
            </div>
          </div>
          
          
          
          
          <!--end zoo-->
          
          
           <!--start games-->
        
              <div class="games" id="games">
            <div class="container">
              <div class="row">
                   <div class="col-lg-6">
                    
                    <div class="container zooimg" >
                      <div class="row">
                          <img src="img/106.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/108.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/114.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/100.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                        </div>
                      </div>
                  </div>
                  
                  <div class="col-lg-6 zootxt">
                  <h1>Games Department</h1>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  
                  </p>
                      <button id="modalBtn2" class="button" onclick="openModal2()">Games Gallary</button>
                    <div id="simpalmodal2" class="mod">
                    <div id="modcon2" class="gallary">
                        <h1>Holle in Games Gallary</h1>
                        <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/21.jpg">   
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/22.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/30.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/72.jpg">
                            </div>
                            
                             <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/108.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/115.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/112.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/98.jpg">
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/107.png">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/125.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/71.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/105.jpg">
                            </div>
                        </div>
                        
                        </div>
                        
                        
                        <button onclick="closeModal2();" type="button" class="btn btn-default" data-dismiss="modal2"><a>Close</a></button>
                        </div>
                    </div>
                      
                  </div>
             
              </div>
            </div>
          </div>
          
          
          
          
          <!--end games-->
          
           <!--start Gardens-->
          
          <div class="Gardens" id="Gardens">
            <div class="container">
              <div class="row">
                  <div class="col-lg-6 zootxt">
                  <h1>Gardens Department</h1>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  
                  </p>
                     <button id="modalBtn3" class="button" onclick="openModal3()">Gardens Gallary</button>
                    <div id="simpalmodal3" class="mod">
                    <div id="modcon3" class="gallary">
                        <h1>Holle in Gardens Gallary</h1>
                        <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/23.jpg">   
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/24.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/25.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/27.jpg">
                            </div>
                            
                             <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/40.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/45.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/85.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/95.jpg">
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/109.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/101.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/104.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/103.jpg">
                            </div>
                        </div>
                        
                        </div>
                        
                        
                        <button onclick="closeModal3();" type="button" class="btn btn-default" data-dismiss="modal3"><a>Close</a></button>
                        </div>
                    </div>
                      
                      
                  </div>
                  <div class="col-lg-6">
                    
                    <div class="container zooimg" >
                      <div class="row">
                          <img src="img/41.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/42.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/44.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/39.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                        </div>
                      </div>
                  </div>
             
              </div>
            </div>
          </div>
         
          
           <!--end Gardens-->
          
          
            <!--start sinkFish-->
        
              <div class="sinkFish" id="sinkFish">
            <div class="container">
              <div class="row">
                   <div class="col-lg-6">
                    
                    <div class="container zooimg" >
                      <div class="row">
                          <img src="img/117.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/118.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img2/119.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img2/120.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                        </div>
                      </div>
                  </div>
                  
                  <div class="col-lg-6 zootxt">
                  <h1>Sink Fish Department</h1>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  
                  </p>
                       <button id="modalBtn4" class="button" onclick="openModal4()">Gardens Gallary</button>
                    <div id="simpalmodal4" class="mod">
                    <div id="modcon4" class="gallary">
                        <h1>Holle in Gardens Gallary</h1>
                        <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/153.jpg">   
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/152.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/151.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/150.jpg">
                            </div>
                            
                             <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/149.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/148.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/147.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/146.jpg">
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/145.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/144.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/143.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/121.jpg">
                            </div>
                        </div>
                        
                        </div>
                        
                        
                        <button onclick="closeModal4();" type="button" class="btn btn-default" data-dismiss="modal4"><a>Close</a></button>
                        </div>
                    </div>
                      
                      
                      
                  </div>
             
              </div>
            </div>
          </div>
          
          
          
          
          <!--end sinkFish-->
          
          
            <!--start Restaurants-->
          
          <div class="Restaurants" id="Restaurants">
            <div class="container">
              <div class="row">
                  <div class="col-lg-6 zootxt">
                  <h1>Gardens Department</h1>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  
                  </p>
                       <button id="modalBtn5" class="button" onclick="openModal5()">Gardens Gallary</button>
                    <div id="simpalmodal5" class="mod">
                    <div id="modcon5" class="gallary">
                        <h1>Holle in Gardens Gallary</h1>
                        <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/163.jpg">   
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/162.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/161.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/160.jpg">
                            </div>
                            
                             <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/159.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/158.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/157.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/156.jpg">
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img2/155.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/154.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/164.jpg">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                             <img src="img/165.jpeg">
                            </div>
                        </div>
                        
                        </div>
                        
                        
                        <button onclick="closeModal5();" type="button" class="btn btn-default" data-dismiss="modal5"><a>Close</a></button>
                        </div>
                    </div>
                      
                      
                  </div>
                  <div class="col-lg-6">
                    
                    <div class="container zooimg" >
                      <div class="row">
                          <img src="img/127.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/128.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/129.JPG" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                          <img src="img/130.jpg" class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                        </div>
                      </div>
                  </div>
             
              </div>
            </div>
          </div>
        12
          
           <!--end Restaurants-->
          
          
           <!--start flower show-->
          
            <div class="jumbotron jumbotron-fluid flowershow text-center" id="flowershow">
              <div class="container">
                <h1 class="display-4">Flower Show</h1>
                <p class="lead">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .</p>
                  <div>
                  <ul class="list-unstyled row">
                      <li class="col-md active">All</li>
                      <li class="col-md">Website</li>
                      <li class="col-md">Logo</li> 
                      <li class="col-md">Work</li> 
                      <li class="col-md">Design</li> 
                      <li class="col-md">Online </li> 
                      
                      
                  </ul>
                  
                  </div>
                  
                  <div class="container floweimg">
                        <div class="row">
                            
                            <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                              <img class="card-img-top" src="img/43.jpg" alt="Card image cap">
                              <div class="card-body">
                                  <h3>1<sup>st</sup>Flower Show</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                            
                             <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                              <img class="card-img-top" src="img/46.jpg" alt="Card image cap">
                              <div class="card-body">
                                  <h3>2<sup>nd</sup>Flower Show</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                            
                             <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                              <img class="card-img-top" src="img/49.jpg" alt="Card image cap">
                              <div class="card-body">
                                  <h3>3<sup>th</sup>Flower Show</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                            
                            
                            <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                              <img class="card-img-top" src="img/50.jpg" alt="Card image cap">
                              <div class="card-body">
                                  <h3>4Flower Show</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                            
                             <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                              <img class="card-img-top" src="img/52.jpg" alt="Card image cap">
                              <div class="card-body">
                                  <h3>5Flower Show</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                            
                             <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                              <img class="card-img-top" src="img/64.jpg" alt="Card image cap">
                              <div class="card-body">
                                  <h3>6Flower Show</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                            
                            <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;"> 
                              <img class="card-img-top" src="img/60.jpg" alt="Card image cap">
                              <div class="card-body">
                                  <h3>7Flower Show</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                            
                             <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                              <img class="card-img-top" src="img/65.gif" alt="Card image cap">
                              <div class="card-body">
                                  <h3>8Flower Show</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                            
                             <div class="card col-lg-3 col-md-6 col-sm-12" style="width: 18rem;">
                              <img class="card-img-top" src="img2/126.jpg" alt="Card image cap">
                              <div class="card-body">
                                  <h3>9Flower Show</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                            </div>
                             
                             
                             
                             
                            
                        </div>
                        </div>
                  
                  
                  
                  
                    </div>
              </div>
          
          
          
           <!--end flower show-->
          
           <!--start stats-->
          
          <div class="stats text-center" id="stats">
            <div class="container">
                <div class="row">
                    <h3></h3>
                 <div class="col-sm-3 div1 conimg">
                   <img src="img/136.png" id="div1"> 
                    <p>
                     Visitor
                    </p>
                     <div>
                                        <a href="http://www.hitwebcounter.com" target="_blank">
                                        <img src="http://hitwebcounter.com/counter/counter.php?page=6906783&style=0018&nbdigits=1&type=page&initCount=0" title="webs counters" Alt="webs counters" id="conimg"  border="0" >
                                        </a>      
                                        <br/>
                                        <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="" 
                                        target="_blank" style="font-family: ; 
                                        font-size: px; color: #; text-decoration:  ;">
                                        </a>   
                         
                     </div>
                    
                 </div>
                    <div class="col-sm-3 div2 conimg" id="counter">
                    <div id="counter" v-if="counter > 0" @click="counter++" >
                    
                        <img src="img/133.png" id="div2"> 
                         <p>
                          Likes
                         </p>
                      </div>
                    <div>
                       <h1>{{ counter }}</h1>
                       </div>
                    </div>
                    <div class="col-sm-3 div2 conimg" id="counter1">
                    <div  v-if="counter1 > 0" @click="counter1++">
                     
                        <img src="img/134.png" id="div3"> 
                         <p>
                          DisLikes
                         </p>
                      </div>
                    <div>
                       <h1>{{ counter1 }}</h1>
                       </div>
                    </div>
                      <div class="col-sm-3 div2 conimg" >
                    <div id="counter">
                   
                        <img src="img/135.png" id="div4"> 
                         <p>
                          Comments
                         </p>
                      </div>
                    <div>
                       <h1>50</h1>
                       </div>
                    </div>

          
          
    
                </div>
              </div>
           <!--end stats-->
          
          
           <!--start contact us-->
                <div class="jumbotron contactUs">
                  <h1>Contact Us</h1>
                  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    

                     <a id="modalBtn" class="button" onclick="openModal()"></a>
                    <div id="simpalmodal" class="mod">
                    <div id="modcon">
                        
                        <button onclick="closeModal();" type="button" class="btn btn-default" data-dismiss="modal"><a  onclick=" return val();">Send</a></button>
                        </div>
                    </div>
                    
    
                        <p>
                        if you have any problem , quastion or note please send it in the message
                        </p>
<!--
                        <form name="frm" method="post" action="index2.php" autocomplete="off">
                        <label for="username">UserName:</label>
                        <input type="text" placeholder="Enter full name" name="username" id="username" class="username-target"> <br>
                            <a href="#" id="checked" class="username-check">Please Check your username</a>
                            <div class="username-feedback"></div>
                        <label>Your Comment:</label><br>
                        <textarea placeholder="Write your Comment..."></textarea><br>
                        
                    <input type="submit" id="login" value="Send">
                        </form>
                        
-->
<!--
                     <form name="frm" method="post" action="">
                        <label>Name:</label>
                        <input type="text" placeholder="Enter full name" name="username" id="username" class="username-target"> <br>
                          <label>Email:</label>
                        <input type="text" placeholder="Enter Email Address" name="Email" id="Email" class="Email"> 
                            <div class="username-feedback"></div>
                        <label>Your Comment:</label><br>
                        <textarea placeholder="Write your Comment..."></textarea><br>
                        
                    <input type="submit" id="login" value="Send">
                        </form>
                    
                   </div>
-->
                  
                     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

                    <form>
                      <p>Enter an email address:</p>
                      <input id='email'><br>
                         <label>Your Comment:</label><br>
                        <textarea placeholder="Write your Comment..."></textarea><br>
                      <button type='submit' id='sndmss'>Send Message</button>
                    </form>

                    <h2 id='result'></h2>
          
          
           <!--end  contact us-->
              
            <!--start footer-->
              <footer id="footer">
              <div class="container text-center">
                   <div>
                  <h2 class="hesdfoot">Al <span>Zawra</span> City</h2>
                  </div>
              <div class="row"> 
                <div class="col-md-6">
                  <div class="helpful-links">
                    <h2>Helpful-inks</h2>
                    <div class="row">
                      <div class="col">
                        <ul class="list-unstyled">
                            <li>Portofolio</li>
                            <li>Team</li>
                            <li>Price</li>
                            <li>Privacy</li>
                        </ul>
                      </div>
                        
                      <div class="col">
                        <ul class="list-unstyled coul">
                            <li>FAQ</li>
                            <li>Blog</li>
                            <li>How it Work</li>
                            <li>contact</li>
                        </ul>
                      </div>    
                    </div>
                  </div>
                </div> 
                  
                <div class="col-md-6">
                  <h2>Contact Us</h2>
                    <ul class="list-unstyled cotxt">
                        <li>Address:Bagdad Iraq</li>
                        <li>Phone:+964 07x xxx xxxx</li>
                        <li>Email:Al-Zamra@gmail.com </li>
                    
                    </ul>
                </div> 
                  
              </div>
              </div>
                  
                  <div class="container-fluid">
                   <div class="final row">
                   <p class="col-lg-6">
                 CopyRigth &copy; <span>SheIsProgrammer</span>
                  
                  </p>
                  
                  <ul class="list-unstyled listf col-lg-6">
                 <li><a href="http://www.thepictaram.club/instagram/she_is_programmer"><img src="img/142.svg"></a></li>
                 <li><a href=""><img src="img/141.png"></a></li>
                 <li><a href="https://twitter.com/Rafah72423139?s=09"><img src="img2/140.svg"></a></li>
                  
                  </ul>
              </div>
                  </div>
              </footer>
             <!--end  footer-->
          
          
          
          
                </div>
                </div>
      
     
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
   <script src="js/vue.min.js"></script>
          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="js/main.js"></script>
  </body>
</html>
