
body{
    background: url(img/.jpg);
    background-size: cover;
    font-family: 'Indie Flower', cursive;
font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}
div#load_screen{
    background-color:azure;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 1000px;
}
div#load_screen > img#loading{
    width: 400px;
    height: 400px;
    margin: 10% 35%;
    
    
}
h1{
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Coiny', cursive;
    color: bisque;
    text-shadow: 2px 2px gray;
}
.conOne{
    background-color:white;
    box-shadow: 0 5px 10px 0 gray;
    height: 7080px;
    padding: 0;
}

/*start navbar*/
.navbar{
    text-align: center;
}

.navbar-brand{
    font-weight: bold;
    font-size: 35px;
}
.navbar-brand > span{
    color:limegreen;
}
.navbar-nav .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bold;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: limegreen;
}

/*end navbar*/

/*start sliderr*/
.slider{
    background-color: aquamarine;
    height: 600px;
}
.slider .carousel-inner{
    display: flex;
    align-items: center;
    justify-content: left;
}
.slider .carousel-inner h1{
    position: absolute;
    color: azure;
    z-index: 3;
    font-size: 60px;
    max-width: 700px;
    line-height: 1.5;
    left: 80px;
    
}
.slider .carousel-inner h1 span{
    color: limegreen;
}
.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
} 
.slider img{
   height: 600px;
}
.slider .carousel-indicators li{
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 10px;
}

/*end sliderr*/

/*start features*/

.features img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.features p{
    display: inline-block;
    width: 200px;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}
.features h3{
    color: yellowgreen;
}
.features img:hover{
    box-shadow: 2px 2px 4px 4px gray;
}
.features{
    padding: 50px 0;
    margin-top:40px;
}

/*end features*/

/*start zoo*/
.zooimg img{
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    margin: 0;
    padding: 0;
    box-shadow: 4px 4px 2px gray;
}
.zootxt{
    padding: 20px;
    text-align: justify;
    font-size: 20px;  
}
.zootxt p{
    line-height: 2;
    font-size: 22px;
}
.zootxt button{
 float: right;
 background-color: yellowgreen;
 color: aliceblue;
 margin-top: 10px;
 padding: 10px;
 border: 0;
 background-color: yellowgreen;
 color: aliceblue; 
}
.zootxt button:hover{
   border: 1px solid green;
    background-color: azure;
    color: green;
}
.zoo{
    margin-top: 50px;
   
}
.gallary{
    margin-top: 20px !important;
    height: 600px !important;
    width: 1000px !important;
    overflow: scroll;
}
.gallary img{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
}
#modcon1{
    background-color: #f4f4f4;
    margin:10% auto;
    padding:20px;
    width:70%;
    height: 300px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
   
}
/*end zoo*/

/*start games*/
.games{
    margin-top: 80px;
}
#modcon2{
    background-color: #f4f4f4;
    margin:10% auto;
    padding:20px;
    width:70%;
    height: 300px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
   
}

/*end games*/

/*start garden*/
.Gardens{
     margin-top: 80px;
}
#modcon3{
    background-color: #f4f4f4;
    margin:10% auto;
    padding:20px;
    width:70%;
    height: 300px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
   
}
/*end garden*/


/*start sinkFish*/
.sinkFish{
     margin-top: 80px;
}
#modcon4{
    background-color: #f4f4f4;
    margin:10% auto;
    padding:20px;
    width:70%;
    height: 300px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
   
}
/*end sinkFish*/


/*start Restaurants*/
.Restaurants{
     margin-top: 80px;
}
#modcon5{
    background-color: #f4f4f4;
    margin:10% auto;
    padding:20px;
    width:70%;
    height: 300px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
   
}
/*end Restaurants*/


/*start flowershow*/
.flowershow{
    margin-top: 80px;
    padding: 20px;
    text-align: justify;
    background-color: white;
    
}
.flowershow .card{
    margin: 30px;
    padding: 0;
    box-shadow: 0 2px  2px gray;
}
.pointer img{
    position: fixed;
    width: 50px;
    height: 60px;
    right: 20px;
    top: 530px;
    z-index: 5;
}
.flowershow p{
    line-height: 1.8;
}
.flowershow ul{
   margin-top: 50px;
}

.flowershow ul li{
    border: 2px dashed green;
    margin-left: 10px;
    height: 50px;
    padding: 10px 20px;
    margin-bottom:30px; 
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

.flowershow ul li.active,
.flowershow ul li:hover{
   background-color: green;
    color: azure;
}
.flowershow ul li:hover{
    cursor: pointer;
}
.flowershow .floweimg{
    margin-left: 50px;
}

/* end flower show*/

/* start stats*/

.stats img{
    width: 50px;
    height: 50px;
}
.stats img:hover{
   cursor: pointer;
}
.stats{
    padding: 100px 0;
    
}
.stats h1{
    font-size: 50px;
    font-weight: bold;
    color: #8ba838;
    
}
.stats p{
    font-weight: bold;
}
#login{
     background-color:yellowgreen;
    padding: 10px;
    color: #fff;
    border: 0;
    margin-top: 30px;
}


/*end  stats*/

/*start contactUs*/

.contactUs{
    margin-top: 30px;
}
textarea{
    width: 250px;
    height: 200px;
    border: 0;
    background-color:white;
    margin-left: 10px;
    padding: 5px;
    resize: none;
}
#sndmss{
 margin-top: 10px;
 padding: 10px;
 border: 0;
 background-color: yellowgreen;
 color: aliceblue; 
}
#sndmss:hover{
    background-color: aliceblue;
    border: 1px solid green;
    color: green;
}
/*end contactUs*/
/*start modal*/



.mod{
    display:none;
    position:fixed;
    z-index:1;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.5);
}
#modcon{
    background-color: #f4f4f4;
    margin:10% auto;
    padding:20px;
    width:70%;
    height: 300px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
   
}
#modcon p{
    margin: 20px;
}
#modcon input{
    width: 300px;
    margin: 10px;
}
.closebtn{
    color:#ccc;
    float:right;
    font-size: 30px;
}
.closebtn:hover ,.closebtn:focus{
    color:#000;
    text-decoration:none;
    cursor:pointer;
    
}

/*end modal*/

/*end contactUs*/


/*start footer*/
.hesdfoot span{
    color: limegreen;
    
}
footer{
    width: 100%;
    height: 300px auto;
    background-color: palegreen;
    margin-top: 60px;
    font-family: 'Krona One', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Coiny', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px gray;
    box-shadow: 0 5px 10px 0 gray;
}
.cotxt{
   line-height: 2.5;
}
footer ul li:hover{
    color: lightgrey;
    cursor: pointer;
}
footer .listf li{
    float: left;
    width: 100px;
}
footer .final{
    margin-top: 55px;
}
footer img{
    width: 50px;
    height: 50px;
}

footer img:hover{
     width: 60px;
    height: 60px;
    background-color:lightgray;
    border-radius: 30px;
    padding: 5px;
}
footer h2{
    color: gainsboro;
}



/*end footer*/

